disk {{ mac_rom_dest }}/system.img
disk {{ mac_rom_dest }}/8gb.sparsebundle
disk {{ mac_rom_dest }}/{{ macos_iso_filename }}
extfs {{ mac_rom_dest }}
screen win/1024/768
seriala /dev/ttyS0
serialb /dev/ttyS1
ether slirp
udptunnel false
udpport 6066
rom {{ mac_rom_dest }}/mac.rom
bootdrive 0
bootdriver 0
ramsize 67108864
frameskip 1
modelid 14
cpu 3
fpu false
nocdrom false
nosound false
noclipconversion false
nogui false
jit false
jitfpu false
jitdebug false
jitcachesize 0
jitlazyflush false
jitinline false
keyboardtype 5
keycodes false
mousewheelmode 1
mousewheellines 3
dsp /dev/dsp
mixer /dev/mixer
ignoresegv true
idlewait true
