disk {{ mac_rom_dest }}/system.img
disk {{ mac_rom_dest }}/8gb.sparsebundle
disk {{ mac_rom_dest }}/{{ macos_iso_filename }}
extfs {{ mac_rom_dest }}
screen win/1024/768
windowmodes 0
screenmodes 0
seriala /dev/ttyS0  
serialb /dev/ttyS1
rom {{ mac_rom_dest }}/mac.rom
bootdrive 0
bootdriver 0
ramsize 67108864
frameskip 1
gfxaccel true
nocdrom false
nonet false
nosound false
nogui true
noclipconversion false
ignoresegv true
ignoreillegal true
jit true
jit68k false
keyboardtype 5
ether slirp
keycodes false
mousewheelmode 1
mousewheellines 3
dsp /dev/dsp
mixer /dev/mixer
idlewait true
